.container{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 90%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.321);
    border-radius: 8px;
}

.formtitle {
    margin-bottom: 10px;
}

.content {
    display: grid;
    width: 50%;
}

.select {
    background-color: #1f1f1f;
    color: white;
    font-size: 12px;
    padding: 12px;
    width: 180px;
    border: none;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    outline: none;
    cursor: pointer;
    overflow: visible;
}

.ctninput {
    font-size: 15px;
    margin-bottom: 20px; 
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    width: 100%;

}

.submitbtn {
    border-radius: 3px;
    background-color: rgb(189, 189, 189);
    border: 1px solid white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 10px;
}
.submitbtn:hover{
    cursor: pointer;
  background-color: black;
  color: white;
}
.platformctn, .genrectn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.selected {
    display: flex;
    margin: 5px;
    background-color: rgb(0, 9, 128);
    color: rgb(255, 255, 255);
    padding: 4px 12px;
    border-radius: 10px;
    font-size: 12px
}

.selectbtn {
    color: rgb(255, 0, 0);
    margin-left: 8px;
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover{
        color: rgb(187, 0, 0);
    }
}

.homebtn {
    border-radius: 3px;
    background-color: rgb(189, 189, 189);
    border: 1px solid white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 10px;

    &:hover{
        cursor: pointer;
        background-color: black;
        color: white;
    }
}