.container{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 80%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.321);
    border-radius: 8px;
}

.content {
    display: grid;
}

.select {
    background-color: #1f1f1f;
    color: white;
    font-size: 12px;
    padding: 12px;
    width: 180px;
    border: none;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    outline: none;
    cursor: pointer;
    overflow: visible;
}

.ctninput {
    border: none;
    appearance: none;
    width: 250px;
    padding: 8px;
    border-radius: 2px;

}

.submitbtn {
    border-radius: 3px;
    background-color: rgb(189, 189, 189);
    border: 1px solid white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 10px;
}
.submitbtn:hover{
    cursor: pointer;
  background-color: black;
  color: white;
}

.msg {
    color: red;
}